* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-title {
    padding: 20px 80px;
    padding-top: 80px;
    margin: 0 auto;
    max-width: 1024px;
    text-align: center;
}

.title {
    font-size: 26px;
}

.subtitle {
    font-size: 20px;
}

.container-main {
    padding: 0px 85px 40px;
    margin: 0 auto;
    max-width: 1024px;
    text-align: center;
}

.row-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    text-align: center;
    row-gap: 25px;
}

.col33 {
    width: calc(100%/3);
    padding: 10px;
}

.img-product {
    display: block;
    width: 100%;
}

/* testo del prodotto */
.product-info {
    text-align: left;
    padding: 3px 7px;
    border: 1px rgba(206, 198, 198, 0.747) solid;
}

.brand-name {
    font-size: 13px;
}

.product-description {
    font-size: 14px;
}

.price {
    color: red;
    font-size: 14px;
    padding-right: 5px;
}

.old-price {
    font-size: 14px;
    text-decoration: line-through;
}

/* footer */
footer {
    padding: 20px 0px;
    background-color: black;
    color: white;
}

.row-footer {
    display: flex;
    justify-content: space-around;
    width: 100%;

}

.col50 {
    max-width: calc(50%);
}

.div .col50 {
    padding: 5px 0px;
}

#boolando-srl {
    padding: 5px 0px;
    font-size: 14px;
}

.col50 span {
    font-size: 11px;
}

.referral {
    padding: 5px 0px;
    font-size: 14px;
}

.row-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.icon-box{
    width: 20px;
    padding: 0px 5px;
}

.icon{
    display: block;
    width: 100%;
}